@charset "utf-8";
body {
	font-family: "Microsoft Yahei", "微软雅黑";
}

.smartReport {
	margin: 20px;
	border: 1px solid #E6E6E6;
	min-height: 800px;
	background-color: #FFFFFF;
	width:794px; /*96dpi 计算210mm的像素 794*/
}

.item-list {
	margin: 10px;
	padding: 0 8px 8px 8px;
	border: 1px dashed #E6E6E6;
	border-radius: 5px;
	
}

.item-list .myHandle{
	float: left;
	cursor: move;
}
.item-list .myDelete{
	float: right;
	color: red;
	cursor: pointer;
}

.tableQRHeader {
	width: 100%;
	border-bottom: none;
}

.tableQRHeader h3 {
	margin-left: 8px;
}

.tableQRHeader img {
	width: 150px;
	height: 150px;
}


.smartReport td {
	cursor: cell;
	background-color: #FFFFFF;
}

.smartReport tr .current {
	border: 2px solid #5292F7;
}

.valFrame {
	word-break: break-word;
}

#selectValueModel .modal-header span {
	color: #999999;
}

#selectValueModel .select_area {
	height: 100%;
	margin-top: 8px;
	margin-bottom: 8px;
	table-layout: fixed;
	word-wrap: break-word;
	width: 100%;
	overflow: hidden;
}

#selectValueModel .select_area h4 {
	margin-top: 8px;
}

.select_area table {
	overflow: auto;
}

.checkboxLabel input {
	margin-right: 8px;
}

.resizeDivClass {
	text-align: right;
	margin-right: -1px;
	width: 4px;
	/*background: #DDDDDD;*/
	border: 0px;
	float: right;
	cursor: col-resize;
}

.resizeDivClass img {
	width: 4px;
	height: 100%;
}

.sort_list{
	/*margin: 8px;*/
	padding: 8px;
}

.bg {
	font-size: 14px;
	table-layout: fixed; //这个属性可以隐藏文字
	border-collapse: separate;
	margin-bottom: 20px;
	/*width:100%;*/
}

.bg th,
.bg td[head] {
	text-align: center;
	cursor: pointer;
	background-color: #F3F3F3;
	vertical-align: middle;
	background-clip: padding-box;
	position: relative;
}

.bg th {
	font-weight: bold;
	color: #000000;
	text-align: center;
	-webkit-box-sizing: content-box!important;
	-moz-box-sizing: content-box!important;
	box-sizing: content-box!important;
}

.label_frame label{
	cursor: cell;
}

.img_frame{
	padding:15px;
}

.img_frame img{
	cursor: cell;
}


/*右边栏 ================================================>>右边栏<<================== */
.rightPanel {
	margin: 20px 10px 10px 25px;
	padding-top: 20px;
	border: 1px solid #E6E6E6;
	min-height: 600px;
	background-color: #FFFFFF;
	position: fixed;
	right: 20px;
	top: 50px;
}

#right_tableTitle {
	color: #969696;
}

#cell_pos {
	font-weight: bold;
	margin-left: 8px;
}

.rightPanel .comp_list{
	height: 500px;
}

.widget{
	width: 100%;
	padding: 5px 10px;
	margin: 8px 0;
	border: 2px solid #CCCCCC;
	border-radius: 5px;
	background-color: #E6E6E6;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	cursor: move;
}

.rightPanel .btn-save{
	margin-top: 15px;
	margin-bottom: 15px;
}

#imgViewModal .img-rows{
	margin: auto 0;
	padding:0;
}

#imgViewModal .img-rows li{
	margin-right: 0;
}

#imgViewModal .img-rows li:hover{
	background-color: transparent;
    	text-decoration: none;
}

#imgViewModal .img-rows li a{
	height: 190px;
	float: left;
	padding: 0;
	overflow: hidden;
	display: box; 
	display: -webkit-box; 
	display: -moz-box; 
	-webkit-box-pack:center; 
	-moz-box-pack:center; 
	-webkit-box-align:center; 
	-moz-box-align:center;
	cursor: pointer;
}

#imgViewModal .img-rows:after {
  display: table;
  content: "";
}
#imgViewModal .img-rows:after {
  clear: both;
}


